<h1>Updating idea</h1>

<% form_for(@idea) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :locals => { :f => f} %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @idea %> |
<%= link_to 'Back', ideas_path %>
